<h1>Salut! Te rugăm să îți confirmi adresa de email!</h1>

<p>
    Te rugăm să îți confirmi adresa de email apăsând pe următorul link: <br><br>
    <a href="{{ signedUrl }}">Confirm emailul</a>.
    Acest link o să expire într-o oră {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    O zi bună!
</p>
