<p>Salut!</p>

<p>Pentru resetarea parolei, te rugăm să accesezi următorul link: </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Acest link va expira în {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>O zi bună!</p>
