@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --main-color: #0f3f63;
    --bg-color: #f2f2f2;
    --orange: #1678f3;
    --hover-color: #0358cb;
    --blue-600: #10529a;
    --grey-100: #f3f4f6;
    --grey-200: #e5e7eb;
    --grey-400: #9ca3af;
    --grey-500: #6b7280;
    --grey-700: #374151;
    --white: #fff;
    --red: #e60000;
    --red-hover: #b40101;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--bg-color);
    font-size: 16px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.bold-span {
    font-weight: bold;
}

.black-text {
    color: #000000!important;
}

a,
a:hover,
a:focus {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #000000!important;
}

.nav-link:hover {
    color: var(--hover-color)!important;
}

.active {
    background: var(--hover-color);
    border-radius: 8px;
}

.active-link {
    color: var(--hover-color)!important;
}

.top-bar {
    margin-bottom: 24px;
    top: 70px;
    -webkit-box-shadow: 0px 5px 6px 2px rgba(173,173,173,0.2);
    -moz-box-shadow: 0px 5px 6px 2px rgba(173,173,173,0.2);
    box-shadow: 0px 5px 6px 2px rgba(173,173,173,0.2);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.dashboard-container .row:first-child {
    margin-top: 0!important;
}

.dashboard-section {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(173,173,173,0.4);
    -moz-box-shadow: 0px 0px 10px 2px rgba(173,173,173,0.4);
    box-shadow: 0px 0px 10px 2px rgba(173,173,173,0.4);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.dashboard-navbar {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(173,173,173,0.4);
    -moz-box-shadow: 0px 0px 10px 2px rgba(173,173,173,0.4);
    box-shadow: 0px 0px 10px 2px rgba(173,173,173,0.4);
}

.dashboard-footer {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(173,173,173,0.4);
    -moz-box-shadow: 0px 0px 10px 2px rgba(173,173,173,0.4);
    box-shadow: 0px 0px 10px 2px rgba(173,173,173,0.4);
}

.footer-link {
    color: var(--main-color);
}

.footer-link:hover {
    color: var(--hover-color);
}

.footer-text {
    color: #000000;
}

.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
}

/* ---------------------------------------------------
    FORMS STYLE
----------------------------------------------------- */

.button {
    width: 100%;
    padding: 16px 16px;
    margin: 16px 0;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    background-color: var(--blue-600);
    -webkit-appearance: none;
    cursor: pointer;
    font-family: inherit;
    transition: background-color 200ms, color 200ms;
}
.button:active, button:hover {
    background-color: var(--main-color);
}

.input label {
    font-weight: bold;
    margin-bottom: 10px;
}

.input input {
    padding: 14px 20px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    background: var(--grey-100);
    transition: background-color 160ms;
    margin-bottom: 30px;
}
.input input:focus {
    background: var(--grey-200);
}

.form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color)
}

.input-active label {
    transform: scale(0.7, 0.7) translate(0, -10px);
}

.button-width {
    width: auto;!important;
}

.select2-container {
    margin-bottom: 30px;
}

.required::after {
    content: '  *';
    color: var(--red);
}

/* ---------------------------------------------------
    SELECT2 STYLE CHANGES
----------------------------------------------------- */

.select2-label {
    display: block;
}

.select2-container--default .select2-selection--single {
    height: 52px;
    width: 100%!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 48px;
    padding-left: 18px;
}

.select2-container--default .select2-selection--single {
    background-color: var(--grey-100)!important;
    border: none!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 11px;
    right: 14px;
}

.select2-results__option {
    padding: 6px 18px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--main-color)!important;
}

.select2-container--open .select2-dropdown--below{
    border: 1px solid #d9d9d9!important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /*background: var(--main-color);*/
    /*background: linear-gradient(145deg, var(--main-color) 0%, var(--blue-600) 100%);*/
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 10px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    border-radius: 8px;
    margin: 4px 0!important;
}

#sidebar ul li a:hover {
    color: #FFFFFF;
    background: var(--hover-color);
}

#sidebarCollapse i {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebarCollapse i:hover {
    color: var(--hover-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: var(--main-color);
}

a.article,
a.article:hover {
    background: var(--main-color) !important;
    color: var(--hover-color) !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    overflow: auto;
}

.content-h-100 {
    min-height: calc(100vh - 126px);
}

/* ---------------------------------------------------
    FILTERS STYLE
----------------------------------------------------- */

.btn-filters-search {
    margin-left: 10px;
    padding: 10px 24px;
}

.btn-filters-delete {
    margin-right: 10px;
    padding: 10px 24px;
    background-color: var(--red);
}

.btn-filters-delete:hover {
    background-color: var(--red-hover);
}

.items-per-page-select {
    width: fit-content;
    margin-bottom: 20px;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

@media (max-width: 768px) {
    .number-of-results {
        text-align: center;
        margin-bottom: 10px;
    }

    .pagination {
        justify-content: center!important;
    }
}

/* ---------------------------------------------------
    PAGINATION STYLE
----------------------------------------------------- */

.page-link {
    color: #000000;!important;
}

.page-item.active .page-link {
    background-color: var(--main-color) !important;
}

.page-link:hover {
    background-color: var(--main-color);!important;
    color: var(--white);
}

.btn-view {
    color: #0c4079;
    margin-left: 4px;
}

.btn-view:hover, .btn-view:focus {
    color: #08376e;
}

.btn-edit {
    color: #147a14;
    margin-left: 4px;
}

.btn-edit:hover, .btn-edit:focus {
    color: #0f670f;
}

.btn-delete {
    color: #e60000;
    margin-left: 4px;
}

.btn-delete:hover, .btn-delete:focus {
    color: #a90303;
}

.btn-add-new {
    background-color: var(--blue-600);
    padding: 10px 24px;
    margin: 0;
    text-align: center;
}

.btn-add-new:hover {
    background-color: var(--main-color);
    color: #FFFFFF;
}

/* ---------------------------------------------------
    LOADER
----------------------------------------------------- */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    z-index: 999999;
}

.loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--grey-100);
    border-color: var(--main-color) transparent var(--main-color) transparent;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1300px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 768px) {
    .button-width {
        width: 100%;!important;
    }

    .btn-filters-delete, .btn-filters-search {
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .items-per-page-select {
        width: 100%;
    }
}

