<p>Salut!</p>

<p>Tocmai ți s-a creat un cont pe platforma Enrico Healthy Clinic.  </p>

<p>Te poți loga pe platformă folosind email-ul pe care primești acest mesaj și parola {{ context.password }}</p>

<p>O zi bună!</p>
