<footer class="py-3 bg-light dashboard-footer">
    <p class="text-center m-0 footer-text">Copyright © 2021-2022 <a class="footer-link" href="https://enricogaraiman.com">enricogaraiman.com</a>, All right reserved.</p>
</footer>